In [1]:
import pandas as pd
import numpy as np

In [2]:
bank_mark = pd.read_csv('bank-full.csv', sep=';')

In [3]:
bank_mark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [4]:
bank_mark.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [5]:
work_columns = [
    'age',
    'job',
    'marital',
    'education',
    'balance',
    'housing',
    'contact',
    'day',
    'month',
    'duration',
    'campaign',
    'pdays',
    'previous',
    'poutcome',
    'y'
]

In [6]:
df = bank_mark[work_columns].copy()

In [7]:
df.isna().sum()

age          0
job          0
marital      0
education    0
balance      0
housing      0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

# Q 1

In [8]:
df['education'].value_counts()

education
secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: count, dtype: int64

In [9]:
df['education'].mode()[0]

'secondary'

# Q 2

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   balance    45211 non-null  int64
 5   housing    45211 non-null  object
 6   contact    45211 non-null  object
 7   day        45211 non-null  int64
 8   month      45211 non-null  object
 9   duration   45211 non-null  int64
 10  campaign   45211 non-null  int64
 11  pdays      45211 non-null  int64
 12  previous   45211 non-null  int64
 13  poutcome   45211 non-null  object
 14  y          45211 non-null  object
dtypes: int64(7), object(8)
memory usage: 5.2+ MB

In [11]:
numeric_columns = list(df.dtypes[df.dtypes == 'int64'].index)

In [12]:
df[numeric_columns].corr()

               age   balance       day  duration  campaign     pdays  previous
age       1.000000  0.097783 -0.009120 -0.004648  0.004760 -0.023758  0.001288
balance   0.097783  1.000000  0.004503  0.021560 -0.014578  0.003435  0.016674
day      -0.009120  0.004503  1.000000 -0.030206  0.162490 -0.093044 -0.051710
duration -0.004648  0.021560 -0.030206  1.000000 -0.084570 -0.001565  0.001203
campaign  0.004760 -0.014578  0.162490 -0.084570  1.000000 -0.088628 -0.032855
pdays    -0.023758  0.003435 -0.093044 -0.001565 -0.088628  1.000000  0.454820
previous  0.001288  0.016674 -0.051710  0.001203 -0.032855  0.454820  1.000000

In [13]:
corr_matr = df[numeric_columns].corr().unstack().sort_values(ascending=False).drop_duplicates()[1:]
corr_matr

previous  pdays       0.454820
campaign  day         0.162490
age       balance     0.097783
balance   duration    0.021560
          previous    0.016674
age       campaign    0.004760
balance   day         0.004503
          pdays       0.003435
previous  age         0.001288
duration  previous    0.001203
pdays     duration   -0.001565
age       duration   -0.004648
          day        -0.009120
balance   campaign   -0.014578
pdays     age        -0.023758
duration  day        -0.030206
previous  campaign   -0.032855
day       previous   -0.051710
duration  campaign   -0.084570
pdays     campaign   -0.088628
day       pdays      -0.093044
dtype: float64

In [14]:
df['y'].value_counts()

y
no     39922
yes     5289
Name: count, dtype: int64

In [15]:
df['y'] = df['y'].map({'no': 0, 'yes': 1})
df['y']

0        0
1        0
2        0
3        0
4        0
        ..
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y, Length: 45211, dtype: int64

In [16]:
df['y'].value_counts()

y
0    39922
1     5289
Name: count, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [19]:
len(df_train), len(df_val), len(df_test)

(27126, 9042, 9043)

In [20]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [21]:
y_train = df_train['y'].values
y_val = df_val['y'].values
y_test = df_test['y'].values

In [22]:
del df_train['y']
del df_val['y']
del df_test['y']

In [23]:
df_train.head().T

                    0             1            2          3              4
age                32            38           49         37             31
job        technician  entrepreneur  blue-collar  housemaid  self-employed
marital        single       married      married    married        married
education    tertiary     secondary    secondary    primary       tertiary
balance          1100             0         3309       2410           3220
housing           yes           yes          yes         no             no
contact      cellular      cellular     cellular   cellular       cellular
day                11            17           15          4             26
month             aug           nov          may        aug            aug
duration           67           258          349        315             74
campaign            1             1            2          1              4
pdays              -1            -1           -1         -1             -1
previous            0             0            0          0              0
poutcome      unknown       unknown      unknown    unknown        unknown

# Q 3

In [24]:
categorical_features = list(df.dtypes[df.dtypes == 'object'].index)

In [25]:
from sklearn.metrics import mutual_info_score

In [26]:
dict_scores = {}

for col in categorical_features:
    dict_scores[col] = round(mutual_info_score(df[col], df['y']), 2)

dict_scores = sorted(dict_scores.items(), key=lambda x:x[1], reverse=True)

In [27]:
dict_scores

[('poutcome', 0.03),
 ('month', 0.02),
 ('job', 0.01),
 ('housing', 0.01),
 ('contact', 0.01),
 ('marital', 0.0),
 ('education', 0.0)]

# Q 4

In [28]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [29]:
dv = DictVectorizer(sparse=False)

In [30]:
train_dict = df_train.to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

In [31]:
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [32]:
y_pred = model.predict(X_val)
round(accuracy_score(y_val, y_pred), 2)

0.9

# Q 5

In [33]:
basic_accuracy = accuracy_score(y_train, model.predict(X_train))

In [34]:
new_list = list(df.columns.values)
new_list.remove('y')
new_list

['age',
 'job',
 'marital',
 'education',
 'balance',
 'housing',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome']

In [35]:
def question5_answer(data, base_accuracy):

    answer = {}
    all_features = list(data.columns.values)
    real_features = all_features.copy()
    real_features.remove('y')

    for feature in real_features:

        copy_features = all_features.copy()
        copy_features.remove(feature)

        data_full_train, data_test = train_test_split(data[copy_features], test_size=0.2, random_state=42)
        data_train, data_val = train_test_split(data_full_train, test_size=0.25, random_state=42)

        data_train = data_train.reset_index(drop=True)
        target_train = data_train['y'].values

        del data_train['y']

        dv = DictVectorizer(sparse=False)

        X_train = dv.fit_transform(data_train.to_dict(orient='records'))

        LREG = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
        LREG.fit(X_train, target_train)
        target_pred = LREG.predict(X_train)

        answer[feature] = base_accuracy - accuracy_score(target_train, target_pred)



    answer = sorted(answer.items(), key=lambda x:x[1], reverse=False)

    return answer, answer[0], answer[0][0]

In [36]:
dictionary, cell, selected_feature = question5_answer(df, basic_accuracy)
dictionary, cell, selected_feature

([('pdays', -0.0001474600014746974),
  ('age', -0.0001105950011059953),
  ('education', -0.0001105950011059953),
  ('previous', 0.0),
  ('balance', 0.00014746000147458638),
  ('day', 0.00014746000147458638),
  ('campaign', 0.00014746000147458638),
  ('housing', 0.0005898400058983455),
  ('job', 0.0007004350070043408),
  ('marital', 0.0008478950084789272),
  ('contact', 0.0008847600088475183),
  ('month', 0.0011059500110593978),
  ('poutcome', 0.007336135073361283),
  ('duration', 0.009216250092162426)],
 ('pdays', -0.0001474600014746974),
 'pdays')

# Q 6

In [37]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [38]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [39]:
len(df_train), len(df_val), len(df_test)

(27126, 9042, 9043)

In [40]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train['y'].values
y_val = df_val['y'].values
y_test = df_test['y'].values

#y_train = np.log1p(y_train)
#y_val = np.log1p(y_val)
#y_test = np.log1p(y_test)

del df_train['y']
del df_val['y']
del df_test['y']

In [41]:
cat = list(df_train.dtypes[df_train.dtypes == 'object'].index)
num = list(df_train.dtypes[df_train.dtypes != 'object'].index)
cat, num

(['job', 'marital', 'education', 'housing', 'contact', 'month', 'poutcome'],
 ['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous'])

In [42]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [43]:
scaler = StandardScaler()
ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

X_train_num = df_train[num].values
X_train_num = scaler.fit_transform(X_train_num)

X_train_cat = ohe.fit_transform(df_train[cat].values)

X_train = np.column_stack([X_train_num, X_train_cat])

X_val_num = df_val[num].values
X_val_num = scaler.transform(X_val_num)

X_val_cat = ohe.transform(df_val[cat].values)

X_val = np.column_stack([X_val_num, X_val_cat])

In [44]:
r = [0, 0.01, 0.1, 1, 10]
rmse_dict = {}

In [45]:
for element in r:

    model = Ridge(solver='sag', alpha=element, random_state=42, max_iter=15000)
    model.fit(X_train, y_train)

    X_val_num = df_val[num].values
    X_val_num = scaler.transform(X_val_num)

    X_val_cat = ohe.transform(df_val[cat].values)
    X_val = np.column_stack([X_val_num, X_val_cat])

    y_pred = model.predict(X_val)

    rmse_dict[element] = round(mean_squared_error(y_val, y_pred), 3)

In [46]:
answer = sorted(rmse_dict.items(), key=lambda x:x[1], reverse=False)
print(answer, answer[0], answer[0][0])

[(0, 0.073), (0.01, 0.073), (0.1, 0.073), (1, 0.073), (10, 0.073)] (0, 0.073) 0